{% extends 'stock_app/base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}


{% block content %}
<div class=bg>
    <div id='main_container' class='container text-white bg-indigo text-center'>
        <div name='About Us'>
            <h1> About Us </h1>
        </div>
        <div name='mission'>
            <h3>Our mission is to make you super duper rich.</h3>
        </div>

      <div>
        <h1>Our Team</h1>
          <h3> Utsav Jain (utsav.jain@gmail.com)</h3>
          <h3> Jessie (jessi@gmail.com)</h3>
      </div>
    </div>
  </div>
{% endblock %}
